<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>duiadns-updater</string>
    <key>ProgramArguments</key>
    <array>
	    <string>/usr/local/bin/duiadns.py</string>
	    <string>/usr/local/etc/duiadns/duiadns.conf</string>
    </array>
    <key>StartInterval</key><integer>600</integer>
    <key>RunAtLoad</key><true/>
</dict>
</plist>
